<div class="navigation-bar p-0">
  <nav class="navbar navbar-expand-lg navbar-dark p-0">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#">
        <img src="/image/default-monochrome.svg" alt="" width="200" height="40" >
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/user/">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/attendence">Attendce</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/todo-list">To Do list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/user/setting">Setting</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>