<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Library Register</title>
  <link rel="icon" type="image/x-icon" href="image/logo.png">

  <!-- bootstrap 5.2 -->
  <!-- ! bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>

  <!-- ! font awesome -->
  <script src="https://kit.fontawesome.com/f854723461.js" crossorigin="anonymous"></script>

  <!-- ! google fonts rubik -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Rubik:wght@300;500&display=swap" rel="stylesheet">
  <!-- ! css -->
  <link rel="stylesheet" href="/css/styles.css">

<body>
  <div class="container p-0">
    <div class="row m-0 p-0">
      <div class="col-md-6 col-12 mx-auto p-0 body">
        <%- body %>
      </div>
    </div>
  </div>

  <!-- ! Jquery  -->
  <script src="/js/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</body>

</html>