<div class="home-page center">
  <figure class="logo-img mx-auto">
    <img src="/image/logo.png" class="img-fluid" alt="LIBRARY REGISTER">
  </figure>
  <p class="lead">Welcome to <em>Library Register</em></p>
  <a href="/auth/google" class="btn btn-primary"><img src="/image/google-icon.png" alt="">Login with google</a>
</div>

<%- include("../partials/footer") %> 







<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

Modal -->
<!-- <div class="modal fade bg-warning" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog center">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Confimation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to delete the task?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Delete Task</button>
      </div>
    </div>
  </div>
</div> -->